@charset "utf-8";
/*----重置----*/
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul { margin: 0; padding: 0 }
* { box-sizing:border-box; }
body { overflow-x: hidden; background:#fff; }
li { list-style: none; }
a { text-decoration: none; }
a:active { background:none; }
a img { display: block; border: none; }
input:focus { outline: 0 none transparent; }
input::-ms-clear { display:none; }
input, textarea { background:none; border:none; }
table { border-collapse: collapse; border-spacing: 0; }

/*----公共样式----*/
html { font-size:20px; background-color:#fff; }
body { font-family: "Microsoft YaHei", Arial, sans-serif; color:#333; line-height:1.8; font-size:14px; }
body, h1, h2, h3, input { font-weight:normal; }
h1, h2, h3 { font-size:0.4rem; }
.clearfix:after { display: block; height: 0; content: "."; clear: both; visibility: hidden; }
.left { float: left; }
.right { float: right; }
a { color:#333; }
a:hover { color:#999; }

/*页码
.pagination { overflow: hidden; margin: 0.5rem 0; border-radius:4px; }
.pagination>li { display: inline; }
.pagination>li:first-child>a { margin-left: 0; border-top-left-radius: 4px;border-bottom-left-radius: 4px; }
.pagination>li:last-child>a { border-top-right-radius: 4px; border-bottom-right-radius: 4px;
}
.pagination>li>a { position: relative; float: left; padding: 6px 12px; margin-left: -1px; line-height: 1.42857143; color: #06C; border: 1px solid #eee;
}
.pagination>.active>a { z-index: 1; background-color: #06c; color: #fff; border-color: #06c; }*/
/*----公共code----*/
/*--头部--*/
header { position:fixed; top:0; left:0; right:0; z-index:100; padding:0 2rem; height:60px; line-height:60px; background-color: #111; opacity:1; }
header a { color:#fff; }
.logo, .page-nav { height:100%; font-size: 20px; }
.logo { float:left; }
.logo a:hover { color: #fff; }
.page-nav { float:right; }
.page-nav li { float:left; margin-right:1rem; }
.page-nav a { transition:opacty 0.8s; color:#fff; }
.page-nav a:hover,
.page-nav a:active { opacity:0.6; }
.page-nav .active a { padding-bottom:0.2rem; border-bottom:2px solid #fff; }
.page-nav .active a:hover, 
.page-nav .active a:active { opacity:1; }

/*--中间内容--*/
main { position:relative; z-index:10; margin-bottom:11rem; min-height:900px; padding:2rem 1rem; background:#fff; }

/*--尾部--*/
footer { position:fixed; bottom:0; left:0; right:0; height:11rem; line-height:1.5; background-color:#111; }
.foot-content { opacity:0; }
.foot-content a { color:#666; transition:all 0.3s; font-size: 18px; }
.foot-content a:hover { color:#fff; }
.contact, .copyright { text-align:center; color:#fff; }
.contact { padding:3rem 0; font-size: 30px; }
.contact a { border-bottom:1px solid #222; }
.contact a:hover { word-break:break-word; border-bottom:1px solid #fff; }
.copyright a { font-size:12px;  }



