@charset "utf-8";

.cont-box { padding-bottom:1rem; border-top:1px solid #eee; }
.cont-box:first-child { border:none; }
.box-title { margin-bottom:0.5rem; text-align:center; }
.box-title h2 { padding:0.5rem; font-size:0.6rem; }

/*----栅格化----*/
.row:after { display:table; content:""; clear:both; }
.row { margin:0 -15px; }
.col { padding:0 15px; }

@media (min-width:768px){
	.col { float:left; width:50%; }
}

@media (min-width:992px){
	.col { width:33.3333333%; }
}

@media (min-width:1200px){
	.col { width:25%; }
}

.thumbnail { max-width:310px; padding:4px; border:1px solid #ddd; text-align:center; margin:0 auto; margin-bottom:1rem; }
.thumbnail img { display:block; max-width:100%; height:auto; margin:0 auto; }
.caption { height:3rem; padding:9px; }

/*----技术文档----*/
.text-box { float:left; width:50%; margin-bottom:0.5rem; }
.text-title,
.text-summarize { padding:0 1rem; }
.text-summarize { text-indent:2em; word-break:break-word; color:#666; }

