@charset "utf-8";
/*----重置----*/
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul { margin: 0; padding: 0 }
body { overflow-x: hidden; background:#fff; }
li { list-style: none; }
a { text-decoration: none; }
a:focus{outline:none;}
a:active { background:none; }
a img { display: block; border: none; }
input:focus { outline: 0 none transparent; }
input::-ms-clear { display:none; }
input[type=search]::-webkit-search-cancel-button{-webkit-appearance: none;}
input, textarea, button { outline: none; background:none; border:none; }
table { border-collapse: collapse; border-spacing: 0; }

/*----公共样式----*/
body, html { height: 100%;}
body { font-size: 13px; font-family: Arial,Helvetica,sans-serif; line-height: 1.5; color: #666;}
body, h1, h2, h3, input { font-weight:normal; }
.clearfix:after { display: block; height: 0; content: "."; clear: both; visibility: hidden; }
.left,
.fl { float: left; }
.right,
.fr { float: right; }
a { color:#666; }
a:hover { color:#666; }

/*--左右盒子结构--*/
.broadcast-box { overflow: hidden; position: relative; min-width:1000px; min-height: 100%; padding-left: 200px; background-color: #fff; }
.left-bar,
.right-bar { float: right;}
.left-bar { width: 200px; margin-left: -100%; padding-bottom: 9000px; margin-bottom: -9000px; background-color: #f7f8f9; }
.right-bar { width: 100%; min-width: 500px; }

/*--左侧--*/
.broadcast-tit { width: 72px; padding-left: 42px; height: 22px; line-height: 23px; margin-top:42px; margin-left:44px; background:url(../images/broadcast_tit_bg.png) no-repeat; font-size: 18px; color: #F86874; }
/*导航*/
.broadcast-nav-list { margin-top: 35px; }
.broadcast-nav-list li { position: relative; height: 46px; line-height: 48px; }
.broadcast-nav-list ul { overflow: hidden; position: absolute; top:46px; left: 0; width: 100%; }
/*.broadcast-nav-list .open ul { display: block;}*/
.broadcast-nav-list a { display: block; height: 100%; padding-left: 53px; }
.broadcast-nav-list a:hover { background-color: #ECEDEE; }
.broadcast-nav-list .all,
.broadcast-nav-list .setting { background-repeat: no-repeat; background-position: 24px;}
.broadcast-nav-list .all { background-image:url(../images/nav_btn_bg.png); }
.broadcast-nav-list .setting { background-image:url(../images/nav_setting_bg.png); }
.broadcast-nav-list a.active { color: #fff; background-color: #F86874; }
.broadcast-nav-list .active.all { background-image: url(../images/nav_btn_active_bg.png); }
.broadcast-nav-list .active.setting { background-image: url(../images/nav_setting_active_bg.png);}
.broadcast-nav-list .flag { position:absolute; top: 22px; right: 40px; width: 10px; height: 6px; background: url(../images/nav_close_bg.png); }
.broadcast-nav-list .open .flag { background: url(../images/nav_open_bg.png); }

/*--右侧顶部标题栏+搜索--*/
.broadcast-main-top { padding:12px 20px; border-bottom: 1px solid #F0F0F0;}
.broadcast-subtitle,
.broadcast-search { height: 31px; line-height: 31px; }
/*标题*/
.broadcast-subtitle { font-size: 16px;}
/*搜索框*/
.broadcast-search { position: relative; width: 182px; padding-left: 38px; background-color: #F7F8F9; border-radius: 8px; }
.broadcast-search .btn { position: absolute; top: 0; left: 7px; width: 30px; height: 100%; background: url(../images/search_bg.png) no-repeat center; cursor: pointer; text-indent: -100em; }
.broadcast-search input[type=search] { width: 100%; height: 100%; font-size: 12px; }

/*--右侧主内容区--*/
.broadcast-main { padding: 20px; }

/*--页码--*/
.broadcast-page { height: 33px; }
.broadcast-page ul:after { display: block; height: 0; content: "."; clear: both; visibility: hidden; }
.broadcast-page li,
.broadcast-page a { width: 30px; height: 31px; line-height: 31px; border-radius: 1px; }
.broadcast-page .pipe { line-height: 50px;}
.broadcast-page li { float: left; margin-right: 10px; text-align: center; }
.broadcast-page a { display: block; border: 1px solid #ddd;}
.broadcast-page .active,
.broadcast-page a:hover { background-color: #eee;}
