/*----空间所有直播----*/

.right-bar { padding-bottom: 50px; }
/*--页码--*/
.broadcast-page { position:absolute; bottom: 20px; left: 0; width: 100%; }
.broadcast-page ul { position: absolute; left: 50%; }
.broadcast-page li { position: relative; left: -50%;}

/*--视频列表--*/
.video-list { overflow: hidden; }
.video-list ul { overflow: hidden; margin-right: -20px;}
.video-list li { overflow: hidden; position: relative; float: left; width: 248px; height: 228px; margin-right: 20px; }
.live-flag,
.ended-flag,
.bespeak-flag { display: none; position: absolute; top: 0; right: 0; z-index: 10; width: 46px; height: 18px; line-height: 18px; text-align: center; color: #fff; font-size: 12px; }
.live-flag { background-color: #62B21B;}
.ended-flag { background-color: #999999;}
.bespeak-flag { background-color: #F86874;}
.live .live-flag { display: block; }
.ended .ended-flag { display: block; }
.bespeak .bespeak-flag { display: block; }
/*图片部分*/
.img-block { overflow: hidden; display: block; position: relative; width: 100%; height: 148px; margin-bottom: 17px; border-radius: 2px;}
.img-block img { display: block; width: 100%;}
.img-block .play { position: absolute; top: 50%; left: 50%; width: 44px; height: 44px; margin-left:-22px; margin-top: -22px; background: url(../images/play_bg.png); opacity: 0; transition: .3s; }
.img-block:hover .play { opacity: 1; }
.video-list .ended .img-block:hover .play { opacity: 0; }
.img-block .popup { position: absolute; left: 0; bottom: 0; width: 100%; height: 31px; line-height: 33px; opacity: 0; transition: .3s; }
.img-block:hover .popup { opacity:1; }
.popup .shadow { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.6;}
.popup .text { overflow: hidden; position: relative; z-index: 1; color: #fff; padding-left: 28px; padding-right: 10px; white-space: nowrap; text-overflow: ellipsis; }
.popup .icon { position: absolute; top: 9px; left: 10px; width: 12px; height: 13px; background: url(../images/sponsor_bg.png) no-repeat;}
/*下面文字*/
.attr-block { position: relative; }
.attr-block .text { height: 20px; line-height: 20px; margin-bottom: 13px; font-size: 14px; color: #777; }
.attr-block .date { color: #ADADAD; font-size: 11px;}
.lock-flag { display: none; position:absolute; right: 0; top: 0; width: 13px; height: 16px; background: url(../images/lock_bg.png) no-repeat; }
.lock .lock-flag { display: block;}

